

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
}

a {
  text-decoration: none;
  color: rgba(30,144,255,1);
}

h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #000000;
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 15px;
  color: #000000;
}

label {
  font-size: 14px;
  padding: 12px;
  color: #000000;
}

.app {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageHome { 
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.info-container {
  display: flex;
  align-items: center;
}

.button-container button {
  width: 100%;
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 10px;
}

.edit{
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  cursor: pointer;
  text-transform: uppercase;
}

.edit:hover{
  background-color: rgb(182, 223, 186);
  color: #fff;
}

.edit:active{
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  background-color: rgb(141, 181, 145);
} 

.delete{
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
  cursor: pointer;
  text-transform: uppercase;
}

.delete:hover{
  background-color: rgb(255, 201, 193);
  color: #fff;
}

.delete:active{
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 255, 255);
  background-color: rgb(255, 175, 163);
} 

.create {
  width: 45%;
  border: 1.5px solid rgb(108, 115, 148);
  color: rgba(0,191,255,1);
  text-transform: uppercase;
  cursor: pointer;
}

.create:hover{
  color: rgba(0,191,255,1);
  border: 1.5px solid rgba(0,191,255,1);
}

.create:active{
  color: rgba(0,191,255,1);
  background-color: rgba(0,191,255,1);
} 

.createLogin {
  width: 100%;
  min-height: 40px;
  border: 1.5px solid rgba(0,191,255,1);
  border-radius: 12px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 12px;
}

.createLogin:hover{
  color: rgba(0,191,255,1);
  border: 1.5px solid rgba(0,191,255,1);
}

.createLogin:active{
  background-color: rgba(0, 191, 255, 0.875);
  color: white;
} 

.signout {
  border: 1.5px solid rgb(108, 115, 148);
  color: rgba(0,191,255,1);
  cursor: pointer;
  text-transform: uppercase;
}

.signout:hover{
  border: 1.5px solid rgb(255, 0, 38); 
  color: rgba(0,191,255,1);
}

.signout:active{
  color: rgba(0, 191, 255, 0.196);
  background-color: rgb(255, 0, 38)!important;
  border: 1.5px solid rgba(0,191,255,1) !important;
} 


.Basic-Input input {
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

.Basic-Input input:focus {
  outline: none;
  border: 1.5px solid rgb(0,191,255);
}

.Basic-Input  {
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

.Basic-Input:focus {
  outline: none;
  border: 1.5px solid rgb(0,191,255);
}

.submit input {
  width: 100%;
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

.submit input:focus {
  outline: none;
  border: 1.5px solid rgb(0,191,255);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  padding: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 350px;
  background: #fff;
  border: 1px solid rgba(0,191,255,1);
  box-shadow: 0 15px 100px rgba(0,191,255,1);
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button:active {
  color: rgb(255,50,50)
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.list-header{
  width: 50vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0,0,0,0.05) 1px solid;
  align-items: center;
}

/* list Items */

.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.08) 0px 0px 0px 1px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid rgba(0,191,255,1);
  border-radius: 15px;
}

.tick {
  padding:10px;
}

.tick path {
  fill: none;
  stroke: #000;
  stroke-miterlimit:10; 
  stroke-width:32px;
}

.tickSucess {
  padding: 10px;
}

.tickSucess path {
  fill: none;
  stroke: #00FF00;
  stroke-miterlimit:10; 
  stroke-width:32px;
}

.tickSucess polyline {
  fill: none;
  stroke: #00FF00;
  stroke-miterlimit:10; 
  stroke-width:32px;
}

.task-title{
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Auth */

.auth-container-left {
  width: 50vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.auth-container-right {
  width: 50vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container-right-card {
  width: 60%;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  border: 1px solid rgba(30,144,255,1);
  box-shadow: 0px 10px 40px #00000056;
}

.auth-container-box:hover {
  box-shadow: 0 15px 100px rgba(0,191,255,1);
}	

.auth-container-right-card form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 12px;
}

.auth-container-right-card form label {
  font-size: 14px;
  padding: 5px;
  color: #000000;
}

.auth-container-right-card form h2 {
  text-align: center;
  margin: 0;
  color:#000000;
}

.auth-options {
  margin: 12px;
  width: 90%;
  text-align: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn {
  background: linear-gradient(0deg, rgba(224,255,255,1) 0%, rgba(224,255,255,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn:hover {
  background: linear-gradient(0deg, rgba(224,255,255,1) 0%, rgba(224,255,255,1) 100%);
  color: rgba(30,144,255,1);
  box-shadow: 0 15px 100px rgba(0,191,255,1);
}

.copyright {
  font-size: 13px;
  margin: 10px;
  color: rgb(114,114,144);
}

.user-email {
  padding: 10px;
  font-size: 13px;
  margin:10px;
  color: rgb(114,114,144);
  color:#00BFFF;
  text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px blue, 
                 0 0 30px blue, 
                 0 0 40px blue, 
                 0 0 55px blue, 
                 0 0 70px blue;
}

.outer-bar {
  width: 200px;
  height: 14px;
  background-color: rgb(216, 216,px 216);
  border-radius: 7px;
  overflow: hidden;
}

.inner-bar {
height: 14px;
}	

.close-modal {
  font-size: small;
  right: 0;
  top: 0;
  margin: 0 25px;
  padding: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}


.error {
  color: rgb(255, 0, 0);
  font-size: 12px;
  margin: 0;
  padding: 0 15px;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-login {
  background: red;
}

@media only screen and (max-width: 950px) {
  .auth-container-right-card {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .auth-container-left {
    width: 100%;
    height: auto;
  }
  .auth-container-right {
    width: 100vw;
    height: auto;
  }
  .auth-container-right-card {
    width: 65%;
    height: auto;
  }

  .auth-container-left img {
    width: 80vw;
  }
}
